<div class="row m-form" id="emp-form">
    <div class="col-md-12">
        <h2>Update Department</h2>
        <br />
        <form method="post" action="/departments/add">
            <div class="row" style="padding-left: %;">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="departmentName">Department&nbsp;Name:</label>
                        <input class="form-control" type="text" name="departmentName"
                            value="{{department.departmentName}}" />
                    </div>
                </div>
            </div>
            <hr />
            <input type="submit" class="btn btn-primary pull-right" value="Update Department" /><br /><br /><br />
        </form>
    </div>
</div>